@font-face {
    font-family: "Unbounded";
    src: url("../fonts/Unbounded-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #0E1014;
    color: #ffffff;
}

header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px 60px 0;
}

header img{
    display: block;
    margin: 75px 0 0
}

h1{
    font-family: "Unbounded", sans-serif;
    font-size: 64px;
    margin-top: 60px;
    text-align: center;
}

h1 span{
    color: #9747FF;
}

p{
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    text-align: center;
    margin: 24px auto 0;
    width: 792px;
}

a{
    color:#ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    text-decoration: none;
    background-color: #9747FF;
    width: 340px;
    height: 66px;
    display: block;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto;
}

a:hover{
    background-color: #8233E8;
    transition: background-color 0.3s ease;
}

section img{
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;
}

@media(max-width: 768px){
    header img{
        margin: 65px 0 0 60px;
    }

    p{
        width: 648px;
    }

}

@media (max-width: 376px) {
    header div{
        margin: 32px 16px 0;
    }

    header img{
        margin: 0;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 20px;
        width: 340px;
    }
    
    section img {
        width: 340px;
        height: 230px;
    }
}
